@if (isLoading()) {
<div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}
@else {
<h4 class="mb-4"><i class="bi bi-shop"></i> Marketplaces</h4>
@if ((userProfile()?.mercadoLivreCredentialId) == null || (userProfile()?.shopeeCredentialId) == null) {
<div class="row border border-white rounded-3 p-3 mb-4">
    @if((userProfile()?.mercadoLivreCredentialId) == null){
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/MercadoLivreIcon.png" class="img-fluid rounded-start" alt="Mercado Livre" loading="lazy">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mercado Livre</h5>
                        <p class="card-text">Acesse para ser redirecionado para a página de autenticação do mercado
                            livre</p>
                        <!-- style="background-color: #ffe600;" -->
                        <button class="btn btn-marketplace-hover"
                            style="background-color: var(--mercado-livre-color); color: black;"
                            (click)="bondMercadoLivre()" [disabled]="isActionLoading()">
                            @if (isActionLoading()) {
                            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                            }
                            @else {
                            <i class="bi bi-link"></i> &nbsp;&nbsp;Permitir Conexão
                            }
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    @if((userProfile()?.shopeeCredentialId) == null){
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/ShopeeIcon.jpg" class="img-fluid rounded-start" alt="Shopee" loading="lazy">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Shopee</h5>
                        <p class="card-text">Acesse para ser redirecionado para a página de autenticação da Shopee
                        </p>
                        <!-- style="background-color: #ffe600;" -->
                        <button class="btn btn-marketplace-hover"
                            style="background-color: var(--shopee-color); color: black;" (click)="bondShopee()"
                            [disabled]="isActionLoading()">
                            @if (isActionLoading()) {
                            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                            }
                            @else {
                            <i class="bi bi-link"></i> &nbsp;&nbsp;Permitir Conexão
                            }
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
}
}
<div class="col-sm-12 row mb-3 mb-sm-0">
    @if ((userProfile()?.mercadoLivreCredentialId) != null) {
    <div class="card mb-3" style="border-color: var(--mercado-livre-color); padding: 0;">
        <div class="row g-0">
            <div class="col-md-4" style="max-width: fit-content;">
                <img src="/MercadoLivreIcon.png" class="img-fluid rounded-start" alt="Mercado Livre" loading="lazy"
                    style="width: 200px;">
            </div>
            <div class="col-md-8 ps-3 d-flex flex-column justify-content-center">
                <h5 class="me-3">Mercado Livre</h5>
                <div class="d-grid gap-2 d-md-block mb-3 mt-3">
                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        data-bs-target="#importOrdersByPeriodModal"><i class="bi bi-files"></i>&nbsp;&nbsp;Vendas por
                        Período</button>
                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        data-bs-target="#ImportSingleOrderModal"><i class="bi bi-file-earmark"></i>&nbsp;&nbsp;Venda
                        Única</button>
                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        (click)="callImportAllProducts(1)"><i class="bi bi-boxes"></i>&nbsp;&nbsp;Todos os
                        produtos
                    </button>

                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        (click)="callImportSingleProduct(1)"><i class="bi bi-box2"></i>&nbsp;&nbsp;Produto
                        Único</button>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" (click)="callUnbondCredential(1)"><i
                            class="bi bi-ban"></i> Desvincular</button>
                </div>
            </div>
        </div>
    </div>
    }
    @if ((userProfile()?.shopeeCredentialId) != null) {
    <div class="card mb-3" style="border-color: var(--shopee-color); padding: 0;">
        <div class="row g-0">
            <div class="col-md-4" style="max-width: fit-content;">
                <img src="/ShopeeIcon.jpg" class="img-fluid rounded-start" alt="Shopee" loading="lazy"
                    style="width: 200px;">
            </div>
            <div class="col-md-8 ps-3 d-flex flex-column justify-content-center">
                <h5 class="me-3">Shopee</h5>
                <div class="d-grid gap-2 d-md-block mb-3 mt-3">
                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        data-bs-target="#importOrdersByPeriodModal"><i class="bi bi-files"></i>&nbsp;&nbsp;Vendas por
                        Período</button>
                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        data-bs-target="#ImportSingleOrderModal"><i class="bi bi-file-earmark"></i>&nbsp;&nbsp;Venda
                        Única</button>
                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        (click)="callImportAllProducts(2)"><i class="bi bi-boxes"></i>&nbsp;&nbsp;Todos os
                        produtos
                    </button>

                    <button class="btn btn-outline-light btn-sm me-2" data-bs-toggle="modal"
                        (click)="callImportSingleProduct(2)"><i class="bi bi-box2"></i>&nbsp;&nbsp;Produto
                        Único</button>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" (click)="unBondShopee()">
                        @if (isActionLoading()) {
                        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                        }
                        @else {
                        <i class="bi bi-ban"></i> Desvincular
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<!-- futuramente, possibilitar a opção de conectar com a shopee -->

<!-- modal confirmação de importação geral de produtos -->
<app-modal-import-all-products (importAll)="importAllProducts()"
    [marketplace]="selectedMarketplace()"></app-modal-import-all-products>

<div class="modal" id="unbondMercadoLivreCredentialModal" tabindex="-1"
    aria-labelledby="unbondMercadoLivreCredentialModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Desvincular do Mercado Livre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja desvincular sua conta do Mercado Livre?</p>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i>
                    Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="inactivateMercadoLivreCredential()"
                    data-bs-dismiss="modal"><i class="bi bi-check-lg"></i> Sim</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal order -->
<div class="modal fade" id="ImportSingleOrderModal" tabindex="-1" aria-labelledby="ImportSingleOrderModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Importar venda</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="orderId" class="form-label">Id da venda</label>
                    <input type="text" class="form-control" id="orderId" placeholder="Digite o ID da venda">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                @if(!isImportLoading()){
                <button type="button" class="btn btn-primary" (click)="this.ImportSingleOrder()"><i
                        class="bi bi-arrow-down-square-fill"></i>&nbsp;&nbsp;Importar</button>
                } @else {
                <button class="btn btn-success" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                    <span role="status">Importando...</span>
                </button>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal order -->
<div class="modal fade" id="importOrdersByPeriodModal" tabindex="-1" aria-labelledby="importOrdersByPeriodModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Importar vendas por período</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="mb-3 col-6">
                    <label for="startDate" class="form-label">Data De Início</label>
                    <input type="date" class="form-control" id="startDate" required required min="2020-01-01"
                        max="{{todayDate()}}">
                </div>
                <div class="mb-3 col-6">
                    <label for="endDate" class="form-label">Data De Fim</label>
                    <input type="date" class="form-control" id="endDate" required min="2020-01-01"
                        max="{{todayDate()}}">
                </div>
                @if (errorMessage()) {
                <div class="alert alert-danger mt-3" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    {{ errorMessage() }}
                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" (click)="this.ImportOrdersByPeriod()"><i
                        class="bi bi-arrow-down-square-fill"></i>&nbsp;&nbsp;Importar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="ConfirmImportSingleOrderModal" tabindex="-1"
    aria-labelledby="ConfirmImportSingleOrderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: var(--bs-success);">
                <h5 class="modal-title">Venda importada com sucesso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @for (order of SingleImportOrders(); track $index) {
                <div class="mb-3">
                    <br />
                    <p class="fw-medium m-0">ID da Venda: <small class="fw-light m-0" style="font-size: medium;">{{
                            order?.externalId }}</small></p>
                    <p class="fw-medium m-0">Data da Venda: <small class="fw-light m-0" style="font-size: medium;">{{
                            order?.createdAt }}</small></p>
                    <p class="fw-medium m-0">Valor Total: <small class="fw-light m-0" style="font-size: medium;">R$
                            {{ order?.totalAmount }}</small></p>
                    <p class="fw-medium m-0">Status: <small class="fw-light m-0" style="font-size: medium;">{{
                            order?.status }}</small></p>
                    <p class="fw-medium m-0">Produtos:</p>
                    <ul class="list-unstyled ">
                        @for (item of order?.products; track $index) {
                        <li>
                            {{ item.title }} - <small class="fw-light m-0" style="font-size: medium;">{{
                                item.quantity }}</small> - <small class="fw-light m-0" style="font-size: medium;">R$
                                {{ item.unitPrice }}</small>
                        </li>
                        }
                    </ul>
                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<app-modal-import-single-product (importSingleProduct)="this.importSingleProduct()"
    (productIdChange)="this.onProductIdChange($event)"></app-modal-import-single-product>

<div class="modal fade" tabindex="-1" id="ErrorImportModal" tabindex="-1" aria-labelledby="ErrorImportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: var(--bs-danger);">
                <h5 class="modal-title">Não foi possivel importar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{this.errorMessage()}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>