<div class="container">
    <h4>Vínculos</h4>
    <div class="col-sm-6 mb-3 mb-sm-0">
        @if ((userProfile()?.mercadoLivreCredentialId) == null) {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/MercadoLivreIcon.png" class="img-fluid rounded-start" alt="Mercado Livre" loading="lazy">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mercado Livre</h5>
                        <p class="card-text">Importe suas vendas do Mercado Livre</p>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-info btn-sm me-2" data-bs-toggle="modal"
                                        data-bs-target="#ImportSingleOrderModal"><i
                                            class="bi bi-file-earmark"></i>&nbsp;&nbsp;Venda
                                        Única</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#ImportOrdersByPeriodModal"><i
                                            class="bi bi-files"></i>&nbsp;&nbsp;Por
                                        Período</button>
                                </div>
                            </div>
                            <button class="btn btn-info btn-sm me-2 mt-1" data-bs-toggle="modal"
                                data-bs-target="#ImportSingleProductModal"><i class="bi bi-box2"></i>&nbsp;&nbsp;Produto
                                Único</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <!-- futuramente, possibilitar a opção de conectar com a shopee -->

    <!-- Modal order -->
    <div class="modal fade" id="ImportSingleOrderModal" tabindex="-1" aria-labelledby="ImportSingleOrderModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Importar venda</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="orderId" class="form-label">Id da venda</label>
                        <input type="text" class="form-control" id="orderId" placeholder="Digite o ID da venda">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" (click)="this.ImportSingleOrder()"><i
                            class="bi bi-arrow-down-square-fill"></i>&nbsp;&nbsp;Importar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal order -->
    <div class="modal fade" id="ImportOrdersByPeriodModal" tabindex="-1" aria-labelledby="ImportOrdersByPeriodModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Importar vendas por período</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="mb-3 col-6">
                        <label for="startDate" class="form-label">Data De Início</label>
                        <input type="date" class="form-control" id="startDate" required required min="2020-01-01" max="{{todayDate()}}">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="endDate" class="form-label">Data De Fim</label>
                        <input type="date" class="form-control" id="endDate" required min="2020-01-01" max="{{todayDate()}}">
                    </div>
                    @if (errorMessage()) {
                    <div class="alert alert-danger mt-3" role="alert">
                        <i class="bi bi-exclamation-circle"></i>
                        {{ errorMessage() }}
                    </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" (click)="this.ImportOrdersByPeriod()"><i
                            class="bi bi-arrow-down-square-fill"></i>&nbsp;&nbsp;Importar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="ConfirmImportSingleOrderModal" tabindex="-1"
        aria-labelledby="ConfirmImportSingleOrderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: var(--bs-success);">
                    <h5 class="modal-title">Venda importada com sucesso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <br />
                        <p class="fw-medium m-0">ID da Venda: <small class="fw-light m-0" style="font-size: medium;">{{
                                SingleOrder()?.externalId }}</small></p>
                        <p class="fw-medium m-0">Data da Venda: <small class="fw-light m-0"
                                style="font-size: medium;">{{ SingleOrder()?.createdAt }}</small></p>
                        <p class="fw-medium m-0">Valor Total: <small class="fw-light m-0" style="font-size: medium;">R$
                                {{ SingleOrder()?.totalAmount }}</small></p>
                        <p class="fw-medium m-0">Status: <small class="fw-light m-0" style="font-size: medium;">{{
                                SingleOrder()?.status }}</small></p>
                        <p class="fw-medium m-0">Produtos:</p>
                        <ul class="list-unstyled ">
                            @for (item of SingleOrder()?.products; track $index) {
                            <li>
                                {{ item.title }} - <small class="fw-light m-0" style="font-size: medium;">{{
                                    item.quantity }}</small> - <small class="fw-light m-0" style="font-size: medium;">R$
                                    {{ item.unitPrice }}</small>
                            </li>
                            }
                        </ul>
                    </div>
                    <button class="btn btn-info btn-sm" (click)="goToOrderDetail(SingleOrder()?.id)"><i
                            class="bi bi-arrow-right-square-fill"></i>&nbsp;&nbsp;Acessar
                        Venda</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ImportSingleProductModal" tabindex="-1" aria-labelledby="ImportSingleProductModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Importar produto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="productId" class="form-label">Id do produto</label>
                        <input type="text" class="form-control" id="productId" placeholder="Digite o ID do produto">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" (click)="this.ImportSingleProduct()"><i
                            class="bi bi-arrow-down-square-fill"></i>&nbsp;&nbsp;Importar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="ConfirmImportSingleProductModal" tabindex="-1"
        aria-labelledby="ConfirmImportSingleProductModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: var(--bs-success);">
                    <h5 class="modal-title">Produto importado com sucesso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <br />
                        <p class="fw-medium m-0">ID do Produto: <small class="fw-light m-0"
                                style="font-size: medium;">{{
                                SingleProduct()?.publicId }}</small></p>
                        <p class="fw-medium m-0">Quantidade: <small class="fw-light m-0" style="font-size: medium;">{{
                                SingleProduct()?.quantity }}</small></p>
                        <p class="fw-medium m-0">Preço: <small class="fw-light m-0" style="font-size: medium;">R$
                                {{ SingleProduct()?.price }}</small></p>
                        <p class="fw-medium m-0">Quantidade vendidos: <small class="fw-light m-0"
                                style="font-size: medium;">{{
                                SingleProduct()?.soldQuantity }}</small></p>
                    </div>
                    <button class="btn btn-info btn-sm" (click)="goToOrderDetail(SingleProduct()?.id)"><i
                            class="bi bi-arrow-right-square-fill"></i>&nbsp;&nbsp;Acessar
                        Venda</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="ErrorImportSingleModal" tabindex="-1"
        aria-labelledby="ErrorImportSingleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: var(--bs-danger);">
                    <h5 class="modal-title">Não foi possivel importar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{this.errorMessage()}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- npm run build -->