<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3">
        @for (toast of toastService.toasts(); track toast) {
        <div class="toast align-items-center text-bg-{{toast.type}} border-0 show" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{toast.message}}
                </div>
            </div>
        </div>
        }
    </div>
</div>