<div class="modal fade" id="orderFiltersModal" tabindex="-1" aria-labelledby="orderFiltersModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderFiltersModalLabel"><i class="bi bi-funnel"></i> &nbsp;&nbsp; Filtros
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="FilterFormGroup">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="orderExternalId" class="form-label fw-bold">ID da Venda</label>
                        <input type="text" class="form-control" id="orderExternalId" formControlName="orderExternalId"
                            placeholder="Digite o ID da Venda">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Limpar todos</button>
                    <button type="button" class="btn btn-success" (click)="submit.emit()" data-bs-dismiss="modal">Aplicar
                        filtros</button>
                </div>
            </form>
        </div>
    </div>

</div>