@if (isLoading()) {
<div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}
@else {
<div class="container-fluid">
    <div class="col-lg-12 d-flex justify-content-between">
        <a routerLink="/product-list" class="btn btn-sm btn-outline-info mb-3" style="margin-top: 20px"><i
                class="bi bi-arrow-left"></i>&nbsp;&nbsp;Voltar</a>
        <a class="btn btn-sm btn-outline-secondary mb-3" style="margin-top: 20px" (click)="getQuantityHistoric()"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasMovHistory" aria-controls="offcanvasMovHistory">
            <i class="bi bi-clock-history"></i> Histórico de movimentações </a>

    </div>

    <app-movement-history [productQuantityHistory]="productQuantityHistory()" [isLoading]="isLoadingQuantityHistory()"
        [hasMore]="hasMoreQuantityHistory()" [movementHistoryLoadMore]="movementHistoryLoadMore"
        [productTitle]="product().title">
    </app-movement-history>

    <div class="col-lg-12">
        <h6 class="text-default">{{product().title}}</h6>
        <div class="card border-light mb-3">
            <div class="card-body " style="padding-bottom: 0px;">
                <div class="form-group col-lg-3">
                    <label for="inputQuantity" class="form-label">Quantidade em estoque</label>
                    <div class="row g-2">
                        <div class="col-auto">
                            <input type="number" class="form-control" id="inputQuantity" readonly
                                value="{{product().quantity}}" style="width: 100px;" />
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal"
                                data-bs-target="#EditQuantityModal" title="Editar quantidade">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 form-floating">
                        <input type="text" readonly class="form-control-plaintext" id="soldQuantity"
                            value="{{product().soldQuantity}}">
                        <label for="soldQuantity">Quantidade de vendidos</label>
                    </div>
                    <div class="col-lg-3 form-floating">
                        <input type="text" readonly class="form-control-plaintext" id="sku"
                            value="{{product().sku ? product().sku : 'N/A'}}">
                        <label for="sku">SKU</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Quantity Modal -->
    <div class="modal fade" id="EditQuantityModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="EditQuantityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form [formGroup]="ProductForm" (ngSubmit)="onSubmit()">
                <div class="modal-content">
                    <div class="modal-header"
                        [style.background-color]="editQuantityType() === 0 ? 'var(--bs-green)' : 'var(--bs-red)'">
                        <h1 class="modal-title fs-5" id="EditQuantityModalLabel">Registrar Movimentação</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col-6">
                                <label for="inputQuantity" class="form-label">Quantidade</label>
                                <input type="number" class="form-control" id="inputQuantity" style="width: 100px;"
                                    formControlName="quantity" (input)="onQuantityInput()"
                                    [class.is-invalid]="ProductForm.get('quantity')?.invalid && (submitted || ProductForm.get('quantity')?.touched || ProductForm.get('quantity')?.dirty)" />
                                @if (f['quantity']?.invalid && f['quantity']?.touched && f['quantity']?.dirty) {
                                <div class="invalid-feedback d-block">
                                    @if (f['quantity']?.errors?.['required']) {
                                    <div>Quantidade é obrigatória</div>
                                    }
                                    @if (f['quantity']?.errors?.['min']) {
                                    <div>Quantidade não pode ser negativa</div>
                                    }
                                </div>
                                }
                            </div>

                            <div class="col-6">
                                <label for="selectType" class="form-label">Tipo de Movimentação</label>
                                <select class="form-select" id="selectType" (change)="onTypeChange($event)"
                                    formControlName="type"
                                    [class.is-invalid]="ProductForm.get('type')?.invalid && (submitted || ProductForm.get('type')?.touched || ProductForm.get('type')?.dirty)">
                                    <option [value]="0">Entrada</option>
                                    <option [value]="1">Saída</option>
                                </select>
                            </div>
                            <div id="inputQuantityHelpBlock" class="form-text">
                                Quantidade atual: {{product().quantity}} unidades.
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="inputReason" class="form-label">Motivo</label>
                                <input type="text" class="form-control" id="inputReason" maxlength="50"
                                    formControlName="reason"
                                    [class.is-invalid]="ProductForm.get('reason')?.invalid && (submitted || ProductForm.get('reason')?.touched || ProductForm.get('reason')?.dirty)" />
                                @if (f['reason']?.invalid && f['reason']?.touched && f['reason']?.dirty) {
                                <div class="invalid-feedback d-block">
                                    @if (f['reason']?.errors?.['required']) {
                                    <div>Motivo é obrigatório</div>
                                    }
                                </div>
                                }
                            </div>
                            @if(editNewQuantity() != 0) {
                            <div class="col-12 mt-2">
                                <div class="card">
                                    <div class="card-body" style="padding: 5px; background-color: #3d4452;">
                                        <div class="text-secondary">
                                            Novo saldo após a movimentação:
                                        </div>
                                        <div class="text-default">
                                            {{editNewQuantity()}} unidades
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit"
                                [class]="editQuantityType() === 0 ? 'btn btn-success' : 'btn btn-danger'">
                                @if (editQuantityType() === 0) {
                                <i class="bi bi-graph-up-arrow"></i>
                                } @else {
                                <i class="bi bi-graph-down-arrow"></i>
                                }
                                Confirmar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if(isLoadingProductBonds()) {
    <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    }
    @else {
    @if(productBonds().length > 0) {
    <div class="row row-cols-1 row-cols-md-2 g-2">
        @for (item of productBonds(); track $index) {
        <div class="col-lg-6 mb-3">
            <div class="card text-bg-dark h-100 " id=`productBondCard-{{item.id}}`
                [ngStyle]="{'border-color': item.marketplace === 1 ? 'var(--mercado-livre-color)' : item.marketplace === 2 ? 'var(--shopee-color)' : ''}">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div
                        [ngStyle]="{'color': item.marketplace === 1 ? 'var(--mercado-livre-color)' : item.marketplace === 2 ? 'var(--shopee-color)' : ''}">
                        #{{item.externalProductId}}</div>
                    <div>

                        @if(item.marketplace === 2) {
                        <span class="badge rounded-pill custom-outline-shopee">
                            Shopee
                        </span>
                        }
                        @else {
                        <span class="badge rounded-pill custom-outline-mercado-livre">
                            Mercado Livre
                        </span>

                        }
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="mlStatus">Status:</label>
                            <br />
                            <span class="badge text-bg-{{item.statusClassColor}}"
                                style="font-size: 1rem;">{{item.statusText}}</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-floating">
                            <input type="text" readonly class="form-control-plaintext" id="mlPreco-{{item.id}}"
                                value="{{ item.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}">
                            <label for="mlPreco-{{item.id}}">Preço</label>
                        </div>
                        <div class="col-lg-6 form-floating">
                            <input type="text" readonly class="form-control-plaintext" id="mlQuantity-{{item.id}}"
                                value="{{item.quantity}}">
                            <label for="mlQuantity-{{item.id}}">Quantidade</label>
                        </div>
                        <div class="col-lg-6 form-floating">
                            <input type="text" readonly class="form-control-plaintext" id="mlQuantityVisits-{{item.id}}"
                                value="{{item.visits}}">
                            <label for="mlQuantityVisits-{{item.id}}">Acessos</label>
                        </div>
                        <div class="col-lg-6 form-floating">
                            <input type="text" readonly class="form-control-plaintext" id="mlSoldQuantity-{{item.id}}"
                                value="{{item.soldQuantity}}">
                            <label for="mlSoldQuantity-{{item.id}}">Vendidos</label>
                        </div>
                        @if(item.kitQuantity != null) {
                        <div class="col-lg-6 form-floating">
                            <input type="text" readonly class="form-control-plaintext" id="mlKitQuantity-{{item.id}}"
                                value="{{item.kitQuantity}}">
                            <label for="mlKitQuantity-{{item.id}}">Kit</label>
                        </div>
                        }
                        @if(item.modelTitle) {
                        <div class="col-lg-6 form-floating">
                            <input type="text" readonly class="form-control-plaintext" id="mlModelTitle-{{item.id}}"
                                value="{{item.modelTitle}}">
                            <label for="mlModelTitle-{{item.id}}">Modelo</label>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    }
    }

</div>
}