<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMovHistory" data-bs-scroll="true"
    aria-labelledby="offcanvasMovHistoryLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasMovHistoryLabel">
            <i class="bi bi-box"></i>
            Histórico de Movimentações
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        @if (productQuantityHistory.length === 0) {
        <p class="text-center text-secondary">Nenhuma movimentação encontrada.</p>
        }
        @else {
        @for (item of productQuantityHistory; track $index) {
        <div class="position-relative">
            <div
                style="background-color: #2b303b; width: .125rem; top: 2rem; left: 11px; position: absolute; bottom: 0;">
            </div>
            <div class="d-flex gap-4">
                @if (item.formattedType === 'entrada') {
                <span class="text-success"><i class="bi bi-graph-up-arrow"></i></span>
                } @else {
                <span class="text-danger"><i class="bi bi-graph-down-arrow"></i></span>
                }
                <div style="flex: 1 1 0%;">
                    <span>
                        @if (item.type === 0) {
                        <span class="badge rounded-pill custom-outline-green">
                            +{{item.movedQuantity}} un</span>
                        } @else {
                        <span class="badge rounded-pill custom-outline-red">
                            -{{item.movedQuantity}} un</span>
                        }
                        <span> {{item.reason}}</span>

                        <!-- @if (item.saleId) {
                        <span class="text-secondary ms-1" style="font-size: small;">#{{item.saleId}}</span>
                        } -->
                    </span>
                    <div class="d-flex justify-content-between">
                        <p class="text-secondary" style="font-size: small;">Saldo: {{item.newQuantity}}</p>
                        <p class="text-secondary" style="font-size: small;">
                            {{item.date}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        }
        @if(isLoading) {
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        }
       <!-- @else if (hasMore) { -->
        <div class="text-center mt-3">
            <button class="btn btn-sm btn-outline-primary" (click)="movementHistoryLoadMore()"  [disabled]="!hasMore">
                Carregar mais
            </button>
        </div>
        }
        <!-- } -->
    </div>
</div>