<app-toasts></app-toasts>
<div class="">
    @if (authService.isAuthenticated()) {
    <app-sidebar></app-sidebar>
    }

    <div class="content p-4">
        @if (authService.isAuthenticated()) {
        <div class="d-flex align-items-center">
            <button class="btn btn-outline-primary  me-3 mb-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                <i class="bi bi-layout-sidebar"></i>
            </button>
            <h5>Xpem Mercúrio</h5>

            <!-- notificações -->
            <!-- comentado temporariamente para publicação para homologação da shopee -->
            <div class="ms-auto dropdown">
                <button type="button" id="notReadNotificationsListBtn" data-bs-toggle="dropdown"
                    (click)="loadNotReadNotifications()" class="btn btn-outline-primary position-relative"
                    aria-expanded="false"> <i class="bi bi-bell-fill"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @if(isLoadingNotifications())
                        {
                        <div class="spinner-grow text-light" role="status"
                            style="width: 0.8rem; height: 0.8rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        }
                        @else {
                        {{ notReadNotificationsCount() }}
                        }
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-end shadow border-0 p-0 notifications-container"
                    aria-labelledby="notReadNotificationsListBtn">
                    <div class="p-2 border-bottom">
                        <strong class="small">Notificações</strong>
                        <a type="button"
                            class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover float-end"
                            style="font-size: 0.75rem;" (click)="clearAll()">Marcar todas como
                            lidas</a>
                    </div>
                    <app-notifications-list [notifications]="notifications()"
                        (notificationRead)="markAsRead($event)"></app-notifications-list>
                </div>
            </div>
        </div>
        }

        <router-outlet></router-outlet>

    </div>
</div>