<div class="container">
    @if (isLoading()) {
    <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    }
    @else {
    @if ((userProfile()?.mercadoLivreCredentialId) == null) {
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/MercadoLivreIcon.png" class="img-fluid rounded-start" alt="Mercado Livre" loading="lazy">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Mercado Livre</h5>
                        <p class="card-text">Acesse para ser redirecionado para a página de autenticação do mercado
                            livre</p>
                        <!-- style="background-color: #ffe600;" -->
                        <a class="btn btn-info" (click)="conectarMercadoLivre()"><i
                                class="bi bi-link"></i>&nbsp;&nbsp;Permitir
                            Conexão</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <!-- futuramente, possibilitar a opção de conectar com a shopee -->
    @else {
    <div class="d-flex justify-content-between mb-3">
        <div class="col-lg-6">
            <!-- open the app-order-filters modal component -->
            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                data-bs-target="#orderFiltersModal">
                <i class="bi bi-funnel"></i>
            </button>
        </div>

        @if (isLoadingTotalPendingLabelsPrint()) {
        <div class="clearfix mb-3">
            <div class="spinner-grow  spinner-grow-sm text-info float-end" role="status">
                <span class="visually-hidden">Loading Total Pending Labels Print...</span>
            </div>
        </div>
        }
        @else {
        <div class="col-lg-6  mb-3 mb-sm-0 text-end float-end">
            <button type="button" class="btn btn-light position-relative" (click)="goToShipmentPendingLabelsList()">
                <i class="bi bi-printer"></i>&nbsp;&nbsp;
                Etiquetas pendentes
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ totalPendingLabelsPrint() }}
                    <span class="visually-hidden">Etiquetas pendentes</span>
                </span>
            </button>
        </div>
        }
    </div>
    <app-order-filters [FilterFormGroup]="orderFilterForm" (submit)="onOrderFormSubmit()"></app-order-filters>

    <div class="col-lg-12 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @if(orders().length === 0) {
        <div class="col">
            <div class="alert alert-info" role="alert">
                Nenhuma venda encontrada.
            </div>
        </div>
        }
        @else{
        @for (item of orders(); track $index) {
        <div class="col" (click)="goToOrderDetail(item.id)">
            <div class="card h-100 linked-card card-custom">
                <div class="card-header fw-bold">
                    #{{ item.externalId }}
                </div>
                <div class="card-body">
                    <!-- <div class="card-title">
                            <p class="fw-bold">{{ item.externalId }}</p>
                        </div> -->
                    <div class="mb-1">
                        <div class="d-flex justify-content-between" style="width: 100%;">
                            <p class="card-subtitle mb-1 text-body-secondary" style="font-size: 0.75rem;">
                                {{item.marketPlaceText}}</p>
                            <p class="card-text text-end mb-0 text-body-secondary" style="font-size: 0.75rem;">
                                {{item.createdAt}}</p>
                        </div>

                        <!-- <p class="mb-0 status-badge">{{item.status}}</p> -->
                        @for (product of item.products; track $index) {
                        <div class="d-flex justify-content-between" style="width: 100%;">
                            <p class="card-text mb-0">{{product.title}}</p>
                            <p class="card-text text-end mb-0" style="font-weight: 600;">
                                {{product.quantity}} x {{ item.totalAmount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                            </p>
                        </div>
                        }
                        <!-- <div class="d-flex justify-content-end" style="width: 100%;">
                            <p class="card-text text-end mb-0" style="color: var(--primary-green); font-weight: 600;">
                                {{ item.totalAmount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
                        </div> -->
                        <div class="d-flex justify-content-between" style="width: 100%;">
                            <p class="mb-0 status-badge">{{item.status}}</p>
                            <p class="card-text text-end mb-0" style="color: var(--primary-green); font-weight: 600;">
                                {{ item.totalAmount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
                        </div>
                        <div class="d-flex justify-content-between mt-1 mb-0" style="width: 100%;">
                            @switch(item.printStatus) {
                            @case (null) {
                            <p class=" status-badge badge rounded-pill text-bg-secondary mb-0"> <i
                                    class="bi bi-tag-fill"></i> {{item.printStatusText}}</p>

                            }
                            @case (1) {
                            <p class=" status-badge badge rounded-pill text-bg-success mb-0"> <i
                                    class="bi bi-tag-fill"></i> {{item.printStatusText}}</p>

                            }
                            @default {
                            <p class=" status-badge badge rounded-pill text-bg-warning mb-0"> <i
                                    class="bi bi-tag-fill"></i> {{item.printStatusText}}</p>
                            }
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        }
        }
    </div>
    @if ((totalPages() > 15)) {
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item" [class.disabled]="currentPage() === 1">
                <button class="page-link" (click)="prevPage()" [disabled]="currentPage() === 1">&laquo;</button>
            </li>
            @for (p of pages(); track $index) {
            <li class="page-item" [class.active]="currentPage() === p">
                <button class="page-link" (click)="goToPage(p)">{{ p }}</button>
            </li>
            }

            <li class="page-item" [class.disabled]="currentPage() === totalPages()">
                <button class="page-link" (click)="nextPage()"
                    [disabled]="currentPage() === totalPages()">&raquo;</button>
            </li>
        </ul>
    </nav>
    }
    }
    }
</div>