@if (isLoading()) {
<div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}
@else {
@if ((userProfile()?.mercadoLivreCredentialId) == null && (userProfile()?.shopeeCredentialId == null)) {
<div class="row border border-white rounded-3 p-3 mb-4">
    <div class="col-lg-12 d-flex justify-content-center align-items-center" style="height: 150px;">
        <div class="text-center text-white">
            <i class="bi bi-exclamation-triangle" style="font-size: 50px;"></i>
            <p class="mt-3">Nenhum marketplace conectado. Conecte-se a um marketplace para começar a importar suas
                vendas.</p>
            <button type="button" (click)="goToCredentialBondList()" class="btn btn-light">
                <i class="bi bi-plug"></i>
                Conectar Marketplace</button>
        </div>
    </div>
</div>
}
<div class="row mt-3">
    <div class="col-lg-4 btn-group mb-3" style="max-width: 400px;" role="group"
        aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnAll" autocomplete="off"
            [checked]="marketplace() === null" (change)="setMarketplace(null)">
        <label class="btn btn-outline-secondary" for="btnAll">Todas</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnMercadoLivre" autocomplete="off"
            [checked]="marketplace() === 1" (change)="setMarketplace(1)">
        <label class="btn btn-outline-secondary" for="btnMercadoLivre">Mercado Livre</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnShopee" autocomplete="off"
            [checked]="marketplace() === 2" (change)="setMarketplace(2)">
        <label class="btn btn-outline-secondary" for="btnShopee">Shopee</label>
    </div>
    <div class="col-lg-8 d-flex justify-content-end align-items-center mb-3">
        <button type="button" class="btn btn-outline-light me-3" data-bs-toggle="modal"
            data-bs-target="#orderFiltersModal">
            <i class="bi bi-funnel"></i>
        </button>

        @if (isLoadingTotalPendingLabelsPrint()) {
        <div class="clearfix">
            <div class="spinner-grow  spinner-grow-sm text-info float-end" role="status">
                <span class="visually-hidden">Loading Total Pending Labels Print...</span>
            </div>
        </div>
        }
        @else {
        <div class="mb-sm-0 text-end float-end">
            <!-- <span class="d-inline-block" tabindex="0" appTooltip data-bs-toggle="tooltip" data-bs-title="Disabled tooltip">
                <button class="btn btn-primary" type="button" disabled>Disabled button</button>
            </span> -->
            <button type="button" class="btn btn-light position-relative" [disabled]="!isEnabledPendingLabelsPrint()"
                (click)="goToShipmentPendingLabelsList()">
                <i class="bi bi-printer"></i>&nbsp;&nbsp;
                Etiquetas pendentes
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ totalPendingLabelsPrint() }}
                    <span class="visually-hidden">Etiquetas pendentes</span>
                </span>
            </button>
        </div>
        }

    </div>
</div>
<app-order-filters [FilterFormGroup]="orderFilterForm" (clearFilters)="clearFilters()"
    (submit)="onOrderFiltersFormSubmit()"></app-order-filters>
@if(isActiveFilter()){
<div class="col-lg-12 mb-3">Filtros:

    @if(this.orderFilterDisplay().externalId != '') {
    <p class="ms-2 badge rounded-pill rounded-badge-secondary mb-0">{{ orderFilterDisplay().externalId }}</p>
    }
    @if(this.orderFilterDisplay().createdAfter != '') {
    <p class="ms-2 badge rounded-pill rounded-badge-secondary mb-0">{{ orderFilterDisplay().createdAfter }}</p>
    }
    @if(this.orderFilterDisplay().createdBefore != '') {
    <p class="ms-2 badge rounded-pill rounded-badge-secondary mb-0">{{ orderFilterDisplay().createdBefore }}</p>
    }
    @if(this.orderFilterDisplay().productId != '') {
    <p class="ms-2 badge rounded-pill rounded-badge-secondary mb-0">{{ orderFilterDisplay().productId }}</p>
    }
    @if(this.orderFilterDisplay().productSKU != '') {
    <p class="ms-2 badge rounded-pill rounded-badge-secondary mb-0">{{ orderFilterDisplay().productSKU }}</p>
    }
    @if(this.orderFilterDisplay().productName != '') {
    <p class="ms-2 badge rounded-pill rounded-badge-secondary mb-0">{{ orderFilterDisplay().productName }}</p>
    }
    @if(this.orderFilterDisplay().status != '') {
    <p class="ms-2 badge rounded-pill rounded-badge-secondary mb-0">{{ orderFilterDisplay().status }}</p>
    }

    <button class="ms-2 badge text-danger btn btn-outline-danger btn-sm rounded-pill rounded-badge-danger"
        (click)="clearFilters()"><i class="bi bi-x-lg"></i> Limpar</button>
</div>
}
<div class="col-lg-12 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @if(!isLoading() && orders().length === 0) {
    <div class="col">
        <div class="alert alert-info" role="alert">
            Nenhuma venda.
        </div>
    </div>
    }
    @else{
    @for (item of orders(); track $index) {
    <div class="col" (click)="goToOrderDetail(item.id)">
        <div class="card h-100 linked-card card-custom" id="cardOrder"
            [class.card-mercado-livre]="item.marketPlace == '1'" [class.card-shopee]="item.marketPlace == '2'">
            <div class="card-header fw-bold">
                #{{ item.externalId }}
            </div>
            <div class="card-body">
                <div class="mb-1">
                    <div class="d-flex justify-content-between" style="width: 100%;">
                        <p class="card-subtitle mb-1 text-body-secondary" style="font-size: 0.75rem;">
                            {{item.marketPlaceText}}</p>
                        <p class="card-text text-end mb-0 text-body-secondary" style="font-size: 0.75rem;">
                            {{item.createdAt}}</p>
                    </div>
                    <!-- <p class="mb-0 status-badge">{{item.status}}</p> -->
                    @for (product of item.products; track $index) {
                    <div class="d-flex justify-content-between" style="width: 100%;">
                        <p class="card-text mb-0" style="font-size: 0.75rem;">{{product.title}}</p>
                        <p class="card-text text-end mb-0" style="font-weight: 600;">
                            {{product.quantity}} x {{ item.totalAmount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </p>
                    </div>
                    }
                    <div class="d-flex justify-content-between" style="width: 100%;">
                        <p class="card-text mb-0">{{item.status}}</p>
                        <p class="card-text text-end mb-0" style="color: var(--primary-green); font-weight: 600;">
                            {{ item.totalAmount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
                    </div>
                    <!-- Status da etiqueta -->
                    <div class="d-flex justify-content-between mt-1 mb-0" style="width: 100%;">
                        @if(item.printStatus == 1) {
                        <p class="status-badge rounded-pill badge text-bg-success mb-0"> <i class="bi bi-tag-fill"></i>
                            {{item.printStatusText}}</p>
                        }
                        @else if(item.printStatus != null){
                            <p class="status-badge rounded-pill badge text-bg-warning mb-0"> <i class="bi bi-tag-fill"></i>
                            {{item.printStatusText}}</p>
                        }
                    </div>
                    @if(item.externalPackId != null && item.externalPackId != '') {
                    <p class="status-badge rounded-pill badge text-bg-info mb-0"> <i class="bi bi-box-seam"></i>
                        Pacote: {{item.externalPackId}}</p>
                    }
                </div>
            </div>
        </div>
    </div>
    }
    }
</div>
<nav aria-label="Page navigation" class="mt-4">
    @if (totalPages() > 1) {
    <ul class="pagination justify-content-end">
        <!-- Botão Primeira Página -->
        <li class="page-item" [class.disabled]="currentPage() === 1">
            <button class="page-link" (click)="goToPage(1)" [disabled]="currentPage() === 1">
                &laquo;&laquo;
            </button>
        </li>

        <!-- Botão Anterior -->
        <li class="page-item" [class.disabled]="currentPage() === 1">
            <button class="page-link" (click)="prevPage()" [disabled]="currentPage() === 1">
                &laquo;
            </button>
        </li>

        <!-- Reticências inicial (se necessário) -->
        @if (pages()[0] > 1) {
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        }

        <!-- Páginas visíveis -->
        @for (p of pages(); track p) {
        <li class="page-item" [class.active]="currentPage() === p">
            <button class="page-link" (click)="goToPage(p)">{{ p }}</button>
        </li>
        }

        <!-- Reticências final (se necessário) -->
        @if (pages()[pages().length - 1] < totalPages()) { <li class="page-item disabled">
            <span class="page-link">...</span>
            </li>
            }

            <!-- Botão Próximo -->
            <li class="page-item" [class.disabled]="currentPage() === totalPages()">
                <button class="page-link" (click)="nextPage()" [disabled]="currentPage() === totalPages()">
                    &raquo;
                </button>
            </li>

            <!-- Botão Última Página -->
            <li class="page-item" [class.disabled]="currentPage() === totalPages()">
                <button class="page-link" (click)="goToPage(totalPages())" [disabled]="currentPage() === totalPages()">
                    &raquo;&raquo;
                </button>
            </li>
    </ul>
    }

    <div class="text-end text-muted small mt-2">
        Página {{ currentPage() }} de {{ totalPages() }} | Total: {{ totalOrders() }}
    </div>
</nav>
}