<div class="offcanvas offcanvas-start text-bg-dark sidebar" tabindex="-1" id="offcanvasSidebar"
    aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-house"></i> Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product-list" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-box2"></i> Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/bond-list"
                    [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-link"></i> Vínculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="background-color: var(--bs-danger);" (click)="onLogout()"><i
                        class="bi bi-box-arrow-left"></i> Sair</a>
            </li>
        </ul>
        <div class="nav-item" style=" display: flex; flex-direction: row-reverse; margin-right: 20px;">
            <span>Versão 0.1.1</span>
        </div>
    </div>
</div>
<script>
    var offcanvasElementList = [].slice.call(document.querySelectorAll('.offcanvas'))
    var offcanvasList = offcanvasElementList.map(function (offcanvasEl) {
        return new bootstrap.Offcanvas(offcanvasEl)
    })
</script>