<div class="list-group list-group-flush notifications-container">
      @for (notif of notifications; track notif.id) {
        <a href="#" class="list-group-item list-group-item-action border border-success border-2 rounded-1 mb-1">
          <div class="d-flex w-100">
            <h6 class="mb-1 text-light"><i class="bi bi-file-earmark"></i> {{ notif.title }}</h6>            
          </div>
          <p class="mb-1 small">{{ notif.message }}</p>
            <small class="text-muted float-end" style="font-size: 0.75rem;">{{ notif.createdAt | date:'short' }}</small>
        </a>
      } @empty {
        <div class="p-3 text-center text-muted">Nenhuma notificação nova</div>
      }
    </div>